

body {
  margin: 0;
  font-family: 'Inter', system-ui;
  background: #dbe9ee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 2px solid #EAEAEA;

  img {
    margin-right: 15px;
  }
}

h3, p {
  margin: 0;
}

.content {
  h1 {
    margin: 0;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 10px;
    width: 18px;
    height: 18px;

  }
}

input {
  border: 0;
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.1);
}

.drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
  padding: 30px;
  z-index: 1;

  .items{
    overflow: auto;
    height: 100%;
  }

  h2 {
    margin: 0;
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #DFDFDF;
    position: relative;
    margin: 0 10px;
  }

  li {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
  }

  .greenButton {
    &:hover {
      img {
        transform: translateX(5px);
      }
    }
    img {
      position: relative;
      right: -50px;
      top: 2px;
      transition: transform 0.3s ease-in-out;
    }
  }
}

.greenButton {
    width: 100%;
    height: 55px;
    left: 895px;
    top: 974px;
    background: #9DD558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: lighten(#9DD558, 5%);
    }
    &:active {
      background: darken(#9DD558, 5%);
    }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -2px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p{
    font-size: 16px;
    margin: 0;
  }

  b{
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}